.create-post-container {
    background-color: #ebfceb;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
   
}

.logo-image {
    max-width: 120px;
}

.profile-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-label {
    color: #007bff;
    cursor: pointer;
    margin-top: 0.5rem;
}

.profile-picture-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.media-upload-section .card {
    position: relative;
}

.close-icon {
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
}

textarea {
    position: relative;
}

.emoji-icon {
    font-size: 1.5rem;
    color: #ffcc00;
    position: absolute;
    right: 10%;
    bottom: 0%;
    cursor: pointer;
}

.text-center .btn-success {
    width: 100px;
    height: 40px;
    background-color: #28a745;
    border: none;
}

.text-center .btn-secondary {
    width: 100px;
    height: 40px;
}

.post-btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
